@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');

$bkgColor: #0f270d;
$bkgColor2: #1b4a17;
$outterText: white;
$colorAvg: #fff;
$colorEasy: #fff;
$colorHard: #fff;

:root {
  --primary-background-color: white;
  --secondary-background-color: white;
  --primary-undertone-color: #ccc;
  --secondary-undertone-color: black;
  --third-undertone-color: #ccc;
  --primary-inner-color: rgb(40, 44, 52);
  --secondary-inner-color: rgb(255, 255, 255);
  --primary-text-color: black;
  --secondary-text-color: gray;
  --background-green: #1b4a17;
  --color-correct: #12EE1B;
  --filter-type: "none";
  --download-color: #EBEBEB;
  --download-color2: #BDBDBD;
  --download-color-interior: #DADADA;
  --download-text-color: #666666;
  color-scheme: light;
}

html[data-theme="dark"] {
  --primary-background-color: black;
  --secondary-background-color: rgb(26, 27, 29);
  --primary-text-color: white;
  --primary-undertone-color: rgb(120, 120, 120);
  --secondary-undertone-color: rgb(120, 120, 120);
  --third-undertone-color: rgb(44, 45, 48);
  --secondary-text-color: rgb(212, 212, 212);
  --primary-inner-color: rgb(26, 27, 29);
  --secondary-inner-color: rgb(40, 44, 52);
  --background-green: #133410;
  --color-correct: #08890c;
  --filter-type: "invert()";
  --download-color: rgb(49, 53, 59);
  --download-color2: #3e3e3e;
  --download-color-interior: rgb(48, 50, 54);
  --download-text-color: white;
  color-scheme: dark;
}

html, body {
  overflow: hidden;
}

[data-theme="dark"] body, [data-theme="light"] body {
  background: border-box var(--background-green);
  user-select: none;
  align-items: flex-start;
  max-width: 99vw;
  overflow: hidden;
}

[data-theme="dark"] textarea, [data-theme="light"] textarea {
  border: none;
  margin: 5vw 0vw 1vw 0vw;
  height: 120px;
  min-width: fit-content;
  background-color: var(--secondary-inner-color);
  color: var(--primary-text-color);
  font-size: 4vh;
  font-weight: bold;
}

#body-container-pc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

[data-theme="dark"] #header-container, [data-theme="light"] #header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  position: absolute;
  top: 0;
  max-height: 60px;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0px 8px 2px 3px $bkgColor;
}

form {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

canvas {
  opacity: 0.0;
}


[data-theme="dark"] #cipher-input-container, [data-theme="light"] #cipher-input-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 54vh;
  padding-top: 20px;
  background-color: var(--primary-inner-color);
}

#header {
  font-size: 1.9vh;
  transform: scale(1.3);
  font-family: 'Quantico', sans-serif;
}

// selectors for the component "Cipher".

.cipher-cluster {
  margin-top: 120px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 15%;
  user-select: none;
  max-height: 60%;
  z-index: 4;
  position: relative;
}

.cipher-cluster-attempt {
  margin-top: 120px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 15%;
  user-select: none;
  max-height: 60%;
  z-index: 0;
}

@mixin cipher-style() {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  border: 2px solid var(--secondary-undertone-color);
  border-radius: 3vh 3vh 3vh 3vh;
  padding: 2px 2.5vh 2px 2.5vh;
  font-size: 3vh;
  font-family: sans-serif;
  user-select: none;
}

#encouraging-text-container {
  // @include cipher-style();
  position: relative;
  // left: 40vw;
  // top: 5vh;
  // font-size: 1vh;
  z-index: 14;
}

#encouraging-inner-div {
  @include cipher-style();
  position: fixed;
  left: 40vw;
  top: 5vh;
  border: 1.5px solid var(--secondary-undertone-color);
  padding: 2px 1vh 2px 1vh;
  font-size: 1vh;
  font-weight: bold;
  transform: scale(2);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--primary-undertone-color);
  margin: 0.2em 0;
  padding: 0;
}

#loading-wheel {
  position: fixed;
  right: 40vw;
  bottom: 50vh;
}

[data-theme="dark"] #cipher-word, [data-theme="light"] #cipher-word {
  @include cipher-style();
  margin-top: 10vw;
  margin-right: 1vw;
}

[data-theme="dark"] .cipher-word-attempt-false, [data-theme="light"] .cipher-word-attempt-false {
  @include cipher-style();
  background-color: gray;
  color: gray;
  margin-top: 10vw;
  margin-right: 1vw;
}

[data-theme="dark"] .cipher-word-attempt-true,
[data-theme="light"] .cipher-word-attempt-true {
  @include cipher-style();
  background-color: var(--color-correct);
  color: var(--color-correct);
  margin-top: 10vw;
  margin-right: 1vw;
}

#played-modal-cipher {
  @include cipher-style();
  transform: scale(0.5);
  margin-top: -1vh;
  font-size: 2.5vh;
  max-width: 180%;
  display: flex;
  margin-bottom: -0.6vh;
  padding: 0px 0px 0px 0px;
}
// ---------------------------( TESTING )----------------------------------------------
#test {
  background-color: white;
  color: black;
  position: absolute;
  margin-top: 5%;
  left: 0;
  right: 0;
}

#assign-header {
  margin-left: 30%;
  font-size: large;
}

// Standard button styles
#input-btn-container {
  position: absolute;
  left: 37%;
  top: 85%;
  margin-top: 10%;
  transform: scale(1.5);
}
#standard-btn {
  background-color: black;
  cursor:pointer;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 3vw 3vw 3vw 3vw;
  border: none;
  font-size: 2vh;
  width: 14vh;
  height: 5vh;
  font-weight: bold;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
}

#download-btn-container {
  display: flex;
  justify-content: center;
}

#standard-btn-small {
  background-color: black;
  padding: 0.8vw 0vw 0.8vw 2.5vw;
  border-radius: 2vw 2vw 2vw 2vw;
  position: relative;
  margin-top: 3%;
  bottom: 0;
  border: none;
  font-size: 1.5vh;
  font-weight: bold;
  vertical-align: middle;
  width: 90px;
  text-decoration: none;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  cursor:pointer;
}

#standard-btn:hover {
  background-color: black;
  color: white;
  cursor:pointer;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 2vw 2vw 2vw 2vw;
  border: none;
  font-size: 2vh;
  font-weight: bold;
  font-family: sans-serif;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  overflow: hidden;
}

 // Level selectors & styles.
  
 @mixin levelModel() {
  transform: scale(0.9);
  position: absolute;
  column-gap: 5px;
  padding: 0 30px 0 30px;
  margin-left: 12vw;
  top: -10px;
  gap: 2px 2px 2px 2px;
  height: 160px;
  z-index: 1;
}

#level-container-normal {
  background: radial-gradient(rgb(179, 213, 27) 60%, rgb(133, 159, 18));
  @include levelModel
}
#level-container-difficult {
  background: radial-gradient(rgb(224, 143, 21) 60%, rgb(179, 120, 31));
  @include levelModel
}
#level-container-hard {
  background: radial-gradient(rgb(224, 51, 21) 60%, rgb(142, 33, 13));
  @include levelModel
}
#level-container {
  background: radial-gradient(rgb(3, 135, 3) 60%, rgb(2, 129, 2));
  @include levelModel
}

@mixin crease() {
  background-color: var(--background-green);
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  position: absolute;
}

[data-theme="dark"] #level-crease, [data-theme="light"] #level-crease {
  @include crease;
  right: 1%;
  top: 80%;
}

#level-text {
  font-size: 100%;
  color: white;
}

#level {
  font-size: 200%;
  color: white;
  margin-left: 10px;
}

#no-cipher {
  font-weight: bold;
  font-size: 60px;
  color: #136f38;
  text-align: center;
}

#health-container {
  position: absolute;
  top: 52.5vh;
  margin-left:10vw;
  margin-top: 6vw;
  row-gap: 20px;
  max-width: 14%;
  display: flex;
  flex-direction: row;
  user-select: none;
  transform: scale(2);
  z-index: 1;
}

#timer-bo {
  position: absolute;
  top: 0;
}

#timer-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 1vw;
  margin-top: 0.2vw;
  row-gap: 20px;
  width: 12%;
  transform: scale(1);
}

.slot {
  min-width: 3vw;
  min-height: 3vw;
  border: 2px solid rgb(79, 79, 79);
  user-select: none;
}

.used {
  background-color: rgb(40, 44, 52);
  user-select: none;
}

.full {
  background-color: rgb(34, 133, 41);
  pointer-events: none;
}

[data-theme="dark"] #gameover-container, [data-theme="light"] #gameover-container {
  position: absolute;
  left: 30%;
  top: 25%;
  text-align: center;
  vertical-align: middle;
  width: 40vw;
  height: 70vw;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  transform: scale(2);
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
  box-shadow: gray;
  z-index: 6;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.gameover-container {
  // TODO: Leave blank for now.
}

.gameover-container-pc {
  overflow-y: hidden;
}

#gameover-header {
  display: flex;
  justify-content: center;
}

#gameover-cipher-container {
  display: flex;
  justify-content: center;
  width: 180%;
  position: relative;
  left: -40%;
}
[data-theme="dark"] #gameover-text-header, [data-theme="light"] #gameover-text-header {
  color: var(--primary-text-color);
  font-size: 1.6vh;
  margin-bottom: 2%;
}
[data-theme="dark"] #gameover-text, [data-theme="light"] #gameover-text {
  color: var(--primary-text-color);
  font-size: 2.3vw;
  margin-bottom: 2%;
}

[data-theme="dark"] #gameover-metrics-container, [data-theme="light"] #gameover-metrics-container { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  background-color: var(--secondary-background-color);
  left: 0;
  right: 0;
  top: 30%;
  z-index: 1;
}

#gameover-time {
  font-size: 1.6vh;
}

#gameover-metric {
  border: 1px solid rgb(187, 187, 187);
  text-align: center;
  padding-bottom: -20px;
  min-width: 47%;
}

#htp-bg {
  background-color: rgb(44, 44, 44);
}

.modal-bg {
  background-color: rgb(0, 0, 0);
  opacity: 30%;
  position: absolute;
  left: 0;
  top: 0;
  width: 101vw;
  height: 101vh;
  z-index: 1;
}

#timer-container {
  position: absolute;
  top: -1.5vh;
}

#time {
  color:rgb(88, 88, 88);
  font-weight: bolder;
  font-size: 6vw;
}

  
#ciphered-body-mobile {
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  margin-top: 10%;
  position: relative;
}

// Core selectors (selectors impacting default markups)

@media only screen and (min-width: 750px) {
  #encouraging-text-container {
    // @include cipher-style();
    // position: fixed;
    // left: 40vw;
    // top: 5vh;
    // font-size: 1vh;
    z-index: 14;
  }
  
  #encouraging-inner-div {
    @include cipher-style();
    position: fixed;
    left: 43vw;
    top: 5vh;
    border: 1.5px solid var(--secondary-undertone-color);
    padding: 2px 1vh 2px 1vh;
    font-size: 1vh;
    font-weight: bold;
    transform: scale(2.5);
  }
  #loading-wheel {
    position: fixed;
    right: 50vw;
    bottom: 50vh;
  }
  body {
    background: border-box $bkgColor2;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding: 0px 4vw 0px 4vw;
  }
  
  [data-theme="dark"] textarea, [data-theme="light"] textarea {
    border: none;
    margin: 5vw 3vw 1vw 3vw;
    height: 200px;
    min-width: auto;
    background-color: var(--secondary-inner-color);
    color: var(--primary-text-color);
    font-size: 2vw;
  }
  
  form {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  // Core containers (from parent components)
  
  #body-container-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  [data-theme="dark"] #header-container, [data-theme="light"] #header-container {
    display: flex;
    justify-content: center;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    position: absolute;
    max-height: 70px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 8px 2px 3px $bkgColor;
  }
  
  #header {
    font-size: large;
    font-family: 'Quantico', sans-serif;
  }
  
  // selectors for the component "Cipher".
  
  .cipher-cluster {
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    max-height: none;
  }
  
  @mixin cipher-style() {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    border: 2px solid var(--secondary-undertone-color);
    border-radius: 3vh 3vh 3vh 3vh;
    padding: 2px 2.5vh 2px 2.5vh;
    font-size: 3vh;
    font-family: sans-serif;
    user-select: none;
  }
  
  [data-theme="dark"] #cipher-word, [data-theme="light"] #cipher-word {
    @include cipher-style();
    margin-top: 5vw;
    margin-right: 1vw;
  }

  [data-theme="dark"] .cipher-word-attempt-false,
[data-theme="light"] .cipher-word-attempt-false {
    @include cipher-style();
    background-color: gray;
    color: gray;
    margin-top: 4.5vw;
    margin-right: 1vw;
  }
  
  [data-theme="dark"] .cipher-word-attempt-true,
[data-theme="light"] .cipher-word-attempt-true {
    @include cipher-style();
    background-color: var(--color-correct);
    color: var(--color-correct);
    margin-top: 4.5vw;
    margin-right: 1vw;
  }
  
  #played-modal-cipher {
    @include cipher-style();
    transform: scale(0.5);
    margin-top: -1vh;
    margin-bottom: -0.6vh;
    padding: 0px 0px 0px 0px;
  }
  
  [data-theme="dark"] #cipher-input-container, [data-theme="light"] #cipher-input-container {
    position: absolute;
    bottom: 0;
    left: 70%;
    padding-left: 20px;
    padding-top: 20px;
    right: 0;
    top: 23%;
    background-color: var(--primary-inner-color);
  }
  // ---------------------------( TESTING )----------------------------------------------
  #test {
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 5%;
    left: 0;
    right: 0;
  }
  // -----------------------------------------------------------------------------------
  #assign-header {
    margin-left: 30%;
    font-size: large;
  }
  
  // Standard button styles
  #standard-btn {
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 2vw 2vw 2vw 2vw;
    border: none;
    font-size: 1.3vw;
    font-weight: bold;
    width: 200px;
    height: 70px;
    background-color: black;
    font-family: sans-serif;
    cursor:pointer;
  }

  #standard-btn-small {
    background-color: black;
    padding: 0.7vw 1vw 0.7vw 1.6vw;
    border-radius: 2vw 2vw 2vw 2vw;
    position: absolute;
    bottom: 0%;
    border: none;
    font-size: 0.75vw;
    font-weight: bold;
    vertical-align: middle;
    width: 6vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    cursor:pointer;
  }

  span {
    margin-right: 5px;
  }

  #download-btn-container {
    display: flex;
    justify-content: center;
  }

  #input-btn-container {
    display: flex;
    justify-content: center;
    position: relative;
    left: 0%;
    top: 85%;
    margin-top: 10%;
    transform: scale(1);
  }
  
  #standard-btn:hover {
    background-color: black;
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 2vw 2vw 2vw 2vw;
    border: none;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  }
  
  // Level selectors & styles.
  
  @mixin levelModel() {
    position: absolute;
    column-gap: 0.6vw;
    padding: 0 2vw 0 2vw;
    margin-left: 20vw;
    gap: 0.2vw 0.2vw 0.2vw;
    height: 12vw;
  }
  
  #level-container-normal {
    background: radial-gradient(rgb(179, 213, 27) 60%, rgb(133, 159, 18));
    @include levelModel
  }
  #level-container-difficult {
    background: radial-gradient(rgb(224, 143, 21) 60%, rgb(179, 120, 31));
    @include levelModel
  }
  #level-container-hard {
    background: radial-gradient(rgb(224, 51, 21) 60%, rgb(142, 33, 13));;
    @include levelModel
  }
  #level-container {
    background: radial-gradient(rgb(3, 135, 3) 60%, rgb(0, 79, 0));
    @include levelModel
  }
  
  @mixin crease() {
    background-color: var(--background-green);
    width: 8vw;
    height: 9vw;
    transform: rotate(45deg);
    position: absolute;
  }
  
  [data-theme="dark"] #level-crease, [data-theme="light"] #level-crease {
    @include crease;
    right: 1%;
    top: 80%;
  }
  
  #level-text {
    font-size: large;
    color: white;
  }
  
  #level {
    font-size: 30px;
    color: white;
    margin-left: 10px;
  }
  
  #no-cipher {
    font-weight: bold;
    font-size: 60px;
    color: #136f38;
    text-align: center;
  }
  
  #health-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 18vw;
    margin-top: 0;
    row-gap: 20px;
    width: 12%;
    transform: scale(0.7);
  }
  
  .slot {
    min-width: 3vw;
    min-height: 3vw;
    border: 4px solid rgb(79, 79, 79);
  }
  
  .used {
    background-color: rgb(40, 44, 52);
  }
  
  .full {
    background-color: rgb(34, 133, 41);
  }

  .cipher-cluster-attempt {
    margin-top: 120px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15%;
    user-select: none;
    overflow: hidden;
    max-height: 60%;
    z-index: 0;
  }
  
  [data-theme="dark"] #gameover-container, [data-theme="light"] #gameover-container {
    position: absolute;
    left: 40%;
    top: 30%;
    text-align: center;
    vertical-align: middle;
    width: 20vw;
    height: 18vw;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    transform: scale(2);
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
    box-shadow: gray;
    z-index: 6;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    overflow-y: auto;
  }

  #gameover-time {
    margin-bottom: 0;
  }
  
  #timer-bo {
    position: absolute;
    top: -2vh;
  }
  #gameover-header {
    display: flex;
    justify-content: center;
  }
  [data-theme="dark"] #gameover-text-header, [data-theme="light"] #gameover-text-header {
  color: var(--primary-text-color);
  font-size: 0.8vw;
  margin-bottom: 2%;
}
  [data-theme="dark"] #gameover-text, [data-theme="light"] #gameover-text {
    color: var(--primary-text-color);
    font-size: 0.8vw;
  }

  [data-theme="dark"] #gameover-metrics-container, [data-theme="light"] #gameover-metrics-container { 
    display: flex;  
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 28%;
  }

  #gameover-metric {
    border: 1px solid rgb(187, 187, 187);
    text-align: center;
    padding-bottom: -20px;
    min-width: 47%;
  }
  
  #htp-bg {
    background-color: rgb(44, 44, 44);
  }
  
  #modal-bg {
    background-color: rgb(0, 0, 0);
    opacity: 30%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  
  #timer-container {
    position: absolute;
    top: -3.9%;
  }
  
  #time {
    color:rgb(88, 88, 88);
    font-weight: bolder;
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1500px) {
  #loading-wheel {
    position: fixed;
    right: 48vw;
    bottom: 50vh;
  }
  body {
    background: border-box $bkgColor2;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding: 0px 4vw 0px 4vw;
  }
  
  [data-theme="dark"] textarea, [data-theme="light"] textarea {
    border: none;
    margin: 5vw 3vw 1vw 3vw;
    height: 200px;
    min-width: auto;
    background-color: var(--secondary-inner-color);
    color: var(--primary-text-color);
    font-size: 2vw;
  }
  
  form {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  // Core containers (from parent components)
  
  #body-container-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  [data-theme="dark"] #header-container, [data-theme="light"] #header-container {
    display: flex;
    justify-content: center;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    position: absolute;
    max-height: 70px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 8px 2px 3px $bkgColor;
  }
  
  #header {
    margin-top: 1vw;
    font-size: 1.2vw;
    font-family: 'Quantico', sans-serif;
  }
  
  // selectors for the component "Cipher".
  
  .cipher-cluster {
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    max-height: none;
  }
  
  @mixin cipher-style() {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    border: 2px solid var(--secondary-undertone-color);
    border-radius: 3vh 3vh 3vh 3vh;
    padding: 2px 2.5vh 2px 2.5vh;
    font-size: 3vh;
    font-family: sans-serif;
    user-select: none;
  }
  
  [data-theme="dark"] #cipher-word, [data-theme="light"] #cipher-word {
    @include cipher-style();
    margin-top: 5vw;
    margin-right: 1vw;
  }

  [data-theme="dark"] .cipher-word-attempt-false,
[data-theme="light"] .cipher-word-attempt-false {
    @include cipher-style();
    background-color: gray;
    color: gray;
    margin-top: 5vw;
    margin-right: 1vw;
  }
  
  [data-theme="dark"] .cipher-word-attempt-true,
[data-theme="light"] .cipher-word-attempt-true {
    @include cipher-style();
    background-color: var(--color-correct);
    color: var(--color-correct);
    margin-top: 5vw;
    margin-right: 1vw;
  }
  
  #played-modal-cipher {
    @include cipher-style();
    transform: scale(0.5);
    margin-top: -1vh;
    margin-bottom: -0.6vh;
    padding: 0px 0px 0px 0px;
  }
  
  [data-theme="dark"] #cipher-input-container, [data-theme="light"] #cipher-input-container {
    position: absolute;
    bottom: 0;
    left: 70%;
    padding-left: 20px;
    padding-top: 20px;
    right: 0;
    top: 23%;
    background-color: var(--primary-inner-color);
  }
  // ---------------------------( TESTING )----------------------------------------------
  #test {
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 5%;
    left: 0;
    right: 0;
  }
  // -----------------------------------------------------------------------------------
  #assign-header {
    margin-left: 30%;
    font-size: large;
  }
  
  // Standard button styles
  #standard-btn {
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 2vw 2vw 2vw 2vw;
    border: none;
    font-size: 1.3vw;
    font-weight: bold;
    width: 200px;
    height: 70px;
    background-color: black;
    font-family: sans-serif;
    cursor:pointer;
  }

  #standard-btn-small {
    background-color: black;
    padding: 0.8vw 1vw 0.8vw 1.6vw;
    border-radius: 2vw 2vw 2vw 2vw;
    position: absolute;
    bottom: 5%;
    border: none;
    font-size: 0.7vw;
    font-weight: bold;
    vertical-align: middle;
    width: 5vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    cursor:pointer;
  }

  span {
    margin-right: 5px;
  }

  #download-btn-container {
    display: flex;
    justify-content: center;
  }

  #input-btn-container {
    display: flex;
    justify-content: center;
    position: relative;
    left: 0%;
    top: 85%;
    margin-top: 10%;
    transform: scale(1);
  }
  
  #standard-btn:hover {
    background-color: black;
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 2vw 2vw 2vw 2vw;
    border: none;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  }
  
  // Level selectors & styles.
  
  @mixin levelModel() {
    position: absolute;
    column-gap: 0.6vw;
    padding: 0 2vw 0 2vw;
    margin-left: 20vw;
    gap: 0.2vw 0.2vw 0.2vw;
    height: 9.9vw;
  }
  
  #level-container-normal {
    background: radial-gradient(rgb(179, 213, 27) 60%, rgb(133, 159, 18));
    @include levelModel
  }
  #level-container-difficult {
    background: radial-gradient(rgb(224, 143, 21) 60%, rgb(179, 120, 31));
    @include levelModel
  }
  #level-container-hard {
    background: radial-gradient(rgb(224, 51, 21) 60%, rgb(142, 33, 13));;
    @include levelModel
  }
  #level-container {
    background: radial-gradient(rgb(3, 135, 3) 60%, rgb(0, 79, 0));
    @include levelModel
  }
  
  @mixin crease() {
    background-color: var(--background-green);
    width: 7.5vw;
    height: 9vw;
    transform: rotate(45deg);
    position: absolute;
  }
  
  [data-theme="dark"] #level-crease, [data-theme="light"] #level-crease {
    @include crease;
    right: 1%;
    top: 80%;
  }
  
  #level-text {
    font-size: large;
    color: white;
  }
  
  #level {
    font-size: 30px;
    color: white;
    margin-left: 10px;
  }
  
  #no-cipher {
    font-weight: bold;
    font-size: 60px;
    color: #136f38;
    text-align: center;
  }
  
  #health-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 18vw;
    margin-top: 0;
    row-gap: 20px;
    width: 12%;
    transform: scale(0.5);
  }
  
  .slot {
    min-width: 3vw;
    min-height: 3vw;
    border: 4px solid rgb(79, 79, 79);
  }
  
  .used {
    background-color: rgb(40, 44, 52);
  }
  
  .full {
    background-color: rgb(34, 133, 41);
  }

  .cipher-cluster-attempt {
    margin-top: 120px;
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15%;
    user-select: none;
    overflow: hidden;
    max-height: 60%;
    z-index: 0;
  }
  
  [data-theme="dark"] #gameover-container, [data-theme="light"] #gameover-container {
    position: absolute;
    left: 40%;
    top: 30%;
    text-align: center;
    vertical-align: middle;
    width: 20vw;
    height: 18vw;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    transform: scale(2);
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
    box-shadow: gray;
    z-index: 6;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    overflow-y: auto;
  }

  #gameover-time {
    margin-bottom: 0;
  }
  
  #timer-bo {
    position: absolute;
    top: -2vh;
  }
  #gameover-header {
    display: flex;
    justify-content: center;
  }
  [data-theme="dark"] #gameover-text-header, [data-theme="light"] #gameover-text-header {
  color: var(--primary-text-color);
  font-size: 0.8vw;
  margin-bottom: 2%;
}
  [data-theme="dark"] #gameover-text, [data-theme="light"] #gameover-text {
    color: var(--primary-text-color);
    font-size: 0.8vw;
  }

  [data-theme="dark"] #gameover-metrics-container, [data-theme="light"] #gameover-metrics-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 22%;
  }

  #gameover-metric {
    border: 1px solid rgb(187, 187, 187);
    text-align: center;
    padding-bottom: -20px;
    min-width: 47%;
  }
  
  #htp-bg {
    background-color: rgb(44, 44, 44);
  }
  
  #modal-bg {
    background-color: rgb(0, 0, 0);
    opacity: 30%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  
  #timer-container {
    position: absolute;
    top: -3.9%;
  }
  
  #time {
    color:rgb(88, 88, 88);
    font-weight: bolder;
    font-size: 1.7vw;
    transform: scale(1.1);
  }
}